.banner {
    height: 38rem;
    width: 100%;
    position: relative;
    margin-top: -63px;
}
.bg-img{
    background-image: url("/img/banner-image.jpg");
    /* height: 100vh; */
    /* padding-top: 56%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */ 

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-bg{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.banner .overlay-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0 2rem;
}
.banner .overlay-content h5 {
    letter-spacing: 1px;
    font-weight: 400;
    color: #f7f7f7;
    line-height: 1.7rem;
    font-size: 1.25rem;
}
.banner .overlay-content h1 {
     font-weight: 900;
     font-size: 52px;
     letter-spacing: 1px;
}

.banner .overlay-content .btn {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
    margin: 1rem;
    color: #fff;
    padding: 1%;
    text-transform: uppercase;
}

@media screen and (max-width: 575px) {
    .banner {
        height: 30rem !important;
    }
    .banner .overlay-content .btn {
        padding: 2%;
    }
}