.cart-img-style {
    height: 95px;
    border-radius: 1rem;
    width: 50%;
}

.remove-item-icon {
    cursor: pointer
}
@media screen and (max-width: 767px){
    .cart-img-style {
        height: 100px;
        border-radius: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .cart-img-style {
        height: 62px;
        border-radius: 50%;
        width: 100%;
    }
    
}

@media screen and (max-width: 497px) {
    .cart-img-style {
        height: 65px;
        border-radius: 50%;
        width: 58px;
    }
}