.bg-img-contact-us {
    background-image: url("/img/contact-us/contact-us.jpg");
    position: relative;
    min-height: 400px;
    width: 100%;
    opacity: 0.85;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact_info {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

.contact_info .contact_us_title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;

}
.btn-style {
    background: #111111;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 563px) {
    .contact_info {
        left: 0;
        top: 32%;
    }
}

@media screen and (max-width: 377px) {
    .contact_info {
        left: 0;
        top: 31%
    }
}
@media screen and (max-width: 372px) {
    .contact_info {
        left: 0;
        top: 26%
    }
}