.table_title h2 {
    font-family: Courgette;
    line-height: 1.2;
    color: #d61c22;
}
.field-name {
    font-weight: 300;
    text-transform: uppercase;
}

.bg-img-reservation {
    background-image: url("/img/reservation/reservation-img.jpg");
    position: relative;
    min-height: 400px;
    width: 100%;
    opacity: 0.85;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reservation_info {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

.reservation_info .reservation_title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;

}
.btn-style {
    background: #111111;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 40px;
    font-weight: 300;
    line-height: 1.1;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn-field {
    margin: 0 43%;
}
.btn-field .btn-style {
    font-size: 14px;
}
@media screen and (max-width: 1000px) {
    .btn-field {
        margin: 0 40%;
    }
}

@media screen and (max-width: 767px) {
    .btn-field {
        margin: 0;
    }
}
@media screen and (max-width: 563px){
    .reservation_info {
        left: 0;
        top: 25%;
    }
}