.food_product {
    height: 38rem;
    width: 100%;
    position: relative;
    margin-top: -63px;
}

.food_product .bg-img {
    background-image: url("/img/banner/food_product_banner.jpg");
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.food_product .overlay-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 48%;
    color: #FFFFFF;
    padding: 0 2rem;
}

.food_product .overlay-content .primary_heading{
    font-family: "Pinyon Script", serif;
    color: #FFA33E;
    margin: 0;
    padding: 0;
    font-size: 80px;
}

.food_product .overlay-content .secondary_heading {
     text-transform: uppercase;
     color: #fff;
     margin: 0;
     padding: 0;
     letter-spacing: 0.2rem;
     font-size: 50px;
     position: relative;
     top: -42px;
     font-weight: 700;
     line-height: 40px;
 }

.food_product .overlay-content .btn {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #FFFFFF;
    margin: 1rem;
    color: #fff;
    padding: 1%;
    text-transform: uppercase;
}

@media screen and (max-width: 575px) {
    .food_product {
        height: 30rem !important;
    }

    .food_product .overlay-content .btn {
        padding: 2%;
    }
}