.order_details {
    height: 38rem;
    width: 100%;
    position: relative;
    margin-top: -63px;
}

.order_details .bg-img {
    background-image: url("/img/banner/food_product_banner.jpg");
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.order_details .overlay-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 42%;
    color: #FFFFFF;
    padding: 0 2rem;
}

.order_details .overlay-content .primary_heading {
    font-family: "Pinyon Script", serif;
    color: #FFA33E;
    margin: 0;
    padding: 0;
    font-size: 90px;
}

.order_details .overlay-content .secondary_heading {
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2rem;
    font-size: 60px;
    position: relative;
    top: -42px;
    font-weight: 700;
    line-height: 40px;
}

.payment-btn {
    margin: auto auto 6% auto;
}
@media screen and (max-width: 631px) {
    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 90px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 55px;
        top: -42px;
    }
}

@media screen and (max-width: 505px) {
    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 90px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 50px;
        top: -42px;
    }
}

@media screen and (max-width: 445px) {
    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 70px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 30px;
        top: -42px;
    }
}

@media screen and (max-width: 409px) {
    .order_details {
        height: 30rem !important;
    }

    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 70px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 30px;
        top: -42px;
    }
}

@media screen and (max-width: 392px) {
    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 70px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 20px;
        top: -42px;
    }
}

@media screen and (max-width: 379px) {
    .order_details .overlay-content {
        top: 42%;
    }

    .order_details .overlay-content .primary_heading {
        font-size: 70px;
    }

    .order_details .overlay-content .secondary_heading {
        font-size: 20px;
        top: -42px;
    }
}